{% extends "base.html" %}

{% block content %}

<div class="card-wrapper">
    <div class="card">
        <h1 class="center">Reset your password</h1>
        <form name="forgot_password">

            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="field" placeholder="Enter your email address" required>
           
            <p class="error error--hidden"></p>
            
            <input type="submit" value="Reset Password" class="btn">
        </form>

        <p class="center"><a href="/">main page</a></p>


    </div>
</div>

{% endblock %}